
.navbar{
    min-height: 90px;
    background-image: linear-gradient(to rigth, darkslategray, black);
   
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
.containerr{
  background-image: url(img/bicicleta-electrica-de-gravel-cannondale-topstone-neo-sl-2.png);
    
  }
  #map {
    width: 100%;
  }
  .carousel-item img {
    max-height: 500px; /* Ajusta el tamaño máximo de las imágenes */
    background-color: black;
  }
  .carousel-inner{
    align-items: center ;
    padding-top: 0px;
    background-color: black;
    }
  .carousel-item {
      transition: transform 0.6s ease-in-out; /* Ajusta la duración y tipo de transición */
    }
    #container-bicicletas nav {
      position: sticky;
      top: 0;
      background-color: #815a5a;
      color: #fff;
      padding: 10px;
      z-index: 1000;
    }
    #scroll-to-top {
      position: fixed;
      bottom: 20px;
      right: 20px;
      display: none;
      padding: 10px 15px;
      background-color: rgb(66, 70, 61);
      color: #fff;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    #scroll-to-top:hover {
      background-color: #0056b3;
    }
    body{
      
      background-color: #000;
background-image: radial-gradient(at top left, rgba(194, 194, 194, 0.5), rgba(34, 34, 34, 0.8));
background-size: cover;
background-position: center;
min-height: 100vh;
    }
    .poppins-black-italic {
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      margin-top: 10px;
      color: rgb(228, 228, 228);
    }